# Chem 277B - Fall 2024 - Homework 5
## ANN - Artificial Neural Networks
*Submit this notebook to bCourses to receive a credit for this assignment.*
<br>
due: **Oct 29th 2024** 
<br>
**Please upload both, the .ipynb file and the corresponding .pdf**<br>
<br>

## 60 Points Total

The goal of this homework assignment is to understand how the complexity of the dataset and the design of the ANN (number of neurons and number of layers) with different parameters i.e. like learning rate and activation functions influence the performance of the ANN.<br>
**Important: Only use numpy for creating the ANN, pandas for data frames if neccessary and matplotlib/ seaborn for plotting, but no further external python libraries.**

**1) Create an artificial dataset, one for regression and one for classification each** <br>
Start with a data set similar to the molecule data set we have been using earlier with a moderate number of features (say five) and about 1000 data points.<br> 
Normalize the features between 0 and 1 for better convergence and split the dataset into **training and testing set**.

**2) Network Design**<br>
Use at least two hidden layers and experiment with different layer sizes. Use different activation functions, such like *Sigmoid*, *ReLU* or any other activation function of your choice.<br>
Implement dropout between the hidden layers (e.g., randomly drop 20-30% neurons).<br>
Add an output layer according to the optimization problem (regression vs classification).

**3) Training and Optimization**<br>
For regression, use Mean Squared Error (MSE) as the loss function. For classification, use cross entropy as loss function (you can use the codes provided in the lecture). Implement backpropagation manually for weight updates and use gradient descent for optimization. Now, train the network over multiple epochs and track the loss and accuracy.

**4) Evaluation**<br>
Monitor the loss and the accuracy for the different epochs. For classification, generate a confusion chart and plot a histogramm of the different probabilities (see the lecture) at the end of the training process.<br>
Evaluate the performance of the ANN with the test set in the same way.<br>
<br>
Now, experiment with different<br>
- training to test set ratios<br>
- different numbers of features in the data (say, $N_{feature} = 3, 5, 20, 50$)
- features that correlate
- different numbers of data points (say, $N_{sample} = 200, 2\,000, 5\,000, 10\,000$)

How does the accuracy change?

**5) Submission Requirements**<br>
Include a short report (1-2 pages) explaining:<br>
- your architecture choices (layers, neurons, activation functions, etc.)<br>
- how dropout was implemented.<br>
- training performance (loss and accuracy plots).<br>
- results and key insights.<br>

## Create artificial dataset function

In [27]:
import numpy as np
import pandas as pd
import random 
from sklearn.preprocessing import MinMaxScaler  #to normalize data

def create_dataset(num_data_points, num_features):

    df = pd.DataFrame()

    for num in range(num_features):
        curr_column = np.random.randint(0, 100, size = num_data_points)
        normalized_curr_col = MinMaxScaler().fit_transform(curr_column.reshape(-1,1)).flatten()
        df[f"feature {num+1}"] = normalized_curr_col.flatten()

    return df

test_df = create_dataset(1000, 5)
display(test_df)

     feature 1  feature 2  feature 3  feature 4  feature 5
0     0.555556   0.606061   0.393939   0.868687   0.333333
1     0.393939   0.707071   0.323232   0.494949   0.191919
2     0.727273   0.818182   0.737374   0.262626   0.050505
3     0.010101   0.262626   0.646465   0.202020   0.767677
4     0.858586   0.040404   0.464646   0.898990   0.707071
..         ...        ...        ...        ...        ...
995   0.929293   0.282828   0.424242   0.272727   0.808081
996   0.434343   0.070707   0.707071   0.545455   0.181818
997   0.313131   0.858586   0.050505   0.848485   0.939394
998   0.111111   0.848485   0.313131   1.000000   0.959596
999   0.535354   0.080808   0.494949   0.151515   0.909091

[1000 rows x 5 columns]

## make classification function

In [34]:
#make it a classification dataframe

def make_class_df(df):

    columns = df.shape[1]

    columns_list = np.arange(columns)

    random_col = np.random.choice(columns_list, 2, replace = False)

    toxic = (df[f"feature {random_col[0]}"] + df[f"feature {random_col[1]}"] >0.7).astype(int)

    df['toxic'] = toxic

    return df

df_test_class = make_class_df(test_df)

display(df_test_class)

     feature 1  feature 2  feature 3  feature 4  feature 5  toxic
0     0.555556   0.606061   0.393939   0.868687   0.333333      1
1     0.393939   0.707071   0.323232   0.494949   0.191919      1
2     0.727273   0.818182   0.737374   0.262626   0.050505      1
3     0.010101   0.262626   0.646465   0.202020   0.767677      1
4     0.858586   0.040404   0.464646   0.898990   0.707071      0
..         ...        ...        ...        ...        ...    ...
995   0.929293   0.282828   0.424242   0.272727   0.808081      1
996   0.434343   0.070707   0.707071   0.545455   0.181818      1
997   0.313131   0.858586   0.050505   0.848485   0.939394      1
998   0.111111   0.848485   0.313131   1.000000   0.959596      1
999   0.535354   0.080808   0.494949   0.151515   0.909091      0

[1000 rows x 6 columns]